<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqrLwq88Hs2XLOEgZqWSp474m0iJu7WNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>966451181126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftlec.Last-Project</string>
	<key>PROJECT_ID</key>
	<string>last-project-b249c</string>
	<key>STORAGE_BUCKET</key>
	<string>last-project-b249c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966451181126:ios:4bd663a589c9b28ca43c47</string>
</dict>
</plist>